<html>
<%= stylesheet_link_tag "application.css", :media => "all" %>
<%= javascript_include_tag "application.js", :media => "all" %>
<head>
<title>SkyHi: Home Page</title>

</head>
<body>
  <div class = "header">
<h1 style = "text-align: center; color: black;">SkyHi</h1>
    <ul class = "navlinks">
      <li><%= link_to "Home", :controller => "buildings", :action => "Home" %></li>
      <li><%= link_to "Carlton Centre", :controller => "buildings", :action => "Africa" %></li>
      <li><%= link_to "Burj Khalifa", :controller => "buildings", :action => "Asia" %></li>
      <li><%= link_to "Q1", :controller => "buildings", :action => "Australia" %></li>
      <li><%= link_to "Federation Tower", :controller => "buildings", :action => "Europe" %></li>
      <li><%= link_to "Tokyo Skytree", :controller => "buildings", :action => "Japan" %><br></li>
      <li><%= link_to "One World Trade Center", :controller => "buildings", :action => "NorthAmerica" %></li>
      <li class = "last"><%= link_to "Gran Torre Santiago", :controller => "buildings", :action => "SouthAmerica" %></li>
    </ul>

   </div>
  <br>
<h1 style = "text-align: center;">Gran Torre Santiago - South America</h1>
<hr>
  <div class = "video">
  <%= video_tag("GranTorre.mp4", controls: true, autobuffer: true, height: '750', width: '750') %>
  </div>
  <hr>
    <div class = "info">
    <h3>Height: 300 meters (984 feet)</h3>
    <h3>Floor Count: 64</h3>
    <h3>Location: Santiago, Chile</h3>
    <h3>Completion: 2014</h3>
    <p style="padding-left: 150px;padding-right: 150px;">Fun Facts:  The Gran Torre Santiago is the tallest skyscraper in South America.  It is part of the Costanera Center complex, which includes the largest shopping mall in Latin America and multiple hotels.  Due to the global financial crisis of 2008, construction was held off.  The completion date was pushed back three years because of the economic downturn.  The 61st and 62nd floors are public floors for observation decks that allow visitors to see a 360 degree view of the city of Santiago.</p>
  </div>
  <div class = "footer">

    <p>Designed by Michael Hineman</p>
    <p>DePauw University - 408 S. Locust Street Greencastle, IN</p>
    <p>Privacy Policy</p>
    <p>We use no cookies & store/ request no information<p>
    <p>Have fun!</p>

  </div>
</body>
</html>